[Unit]
Description=FDO client
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/boot/fdo-client-env
Environment=LOG_LEVEL=info
Environment=MANUFACTURING_SERVER_URL=http://192.168.122.180:8080
ExecStart=/usr/bin/rm /etc/device-credentials
ExecStart=/usr/libexec/fdo/fdo-manufacturing-client
ExecStart=/usr/bin/cp -a /etc/device-credentials /boot/device-credentials
ExecStart=/usr/libexec/fdo/fdo-client-linuxapp
ExecStartPost=-/usr/bin/mv /boot/device-credentials /etc/device-credentials

[Install]
WantedBy=multi-user.target
